anyio==3.6.1
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.1.0
attrs==22.1.0
autopep8==2.0.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.6.3
brotlipy==0.7.0
certifi==2021.5.30
cffi @ file:///opt/concourse/worker/volumes/live/976f8942-f51d-4f0e-7352-2a10f0820d0e/volume/cffi_1625814703974/work
chardet @ file:///opt/concourse/worker/volumes/live/7e1102c4-8702-40f2-63d6-f260ce5f85e4/volume/chardet_1607706831384/work
charset-normalizer==3.3.2
click==8.1.7
conda==4.10.3
conda-package-handling @ file:///opt/concourse/worker/volumes/live/8fb3e065-760b-4a9d-4cd9-aca7fc8baf53/volume/conda-package-handling_1618262145611/work
contourpy==1.0.6
cryptography @ file:///opt/concourse/worker/volumes/live/d5dda287-c0b3-4861-7262-fab05baa64dc/volume/cryptography_1616769284011/work
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
dnspython==2.4.2
duckdb==0.7.0
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
Faker==20.1.0
fastjsonschema==2.16.2
finnhub-python==2.4.18
flask==3.0.0
fonttools==4.38.0
frozendict==2.3.9
greenlet==2.0.2
html5lib==1.1
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
importlib-metadata==4.13.0
importlib-resources==5.12.0
ipykernel==6.17.0
ipython==8.6.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
itsdangerous==2.1.2
jedi==0.18.1
jellyfish==0.11.2
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.10
jsonschema==4.16.0
jupyter==1.0.0
jupyter-client==7.4.4
jupyter-console==6.6.3
jupyter-core==5.3.0
jupyter-server==1.19.1
jupyterlab==3.4.7
jupyterlab-pygments==0.2.2
jupyterlab-server==2.15.2
jupyterlab-widgets==3.0.7
kafka-python==2.0.2
KDEpy==1.1.0
kiwisolver==1.4.4
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mistune==2.0.4
multitasking==0.0.11
nbclassic==0.4.4
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.6.1
nest-asyncio==1.5.6
notebook==6.4.12
notebook-shim==0.1.0
numpy==1.23.4
openpyxl==3.0.10
packaging==21.3
pandas==1.5.1
pandas-datareader==0.10.0
pandasql==0.7.3
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
peewee==3.17.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==3.5.3
prettytable==3.5.0
prometheus-client==0.14.1
prompt-toolkit==3.0.31
psutil==5.9.3
psycopg2==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.9.1
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments==2.13.0
pymongo==4.6.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==3.0.9
pyrsistent==0.18.1
PySocks @ file:///opt/concourse/worker/volumes/live/112288ac-9cb0-4e73-768b-13baf4ca6419/volume/pysocks_1605305820043/work
python-dateutil==2.8.2
pytz==2022.6
pyzmq==24.0.1
qtconsole==5.4.3
QtPy==2.3.1
requests==2.31.0
ruamel-yaml-conda @ file:///opt/concourse/worker/volumes/live/e81cf0fe-611a-498e-6e69-a7320057c1ac/volume/ruamel_yaml_1616016689696/work
scikit-learn==1.1.3
scipy==1.9.3
seaborn==0.12.1
Send2Trash==1.8.0
six @ file:///tmp/build/80754af9/six_1623709665295/work
sklearn==0.0
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==2.0.16
stack-data==0.6.0
statsmodels==0.14.0
tabulate==0.9.0
terminado==0.16.0
threadpoolctl==3.1.0
tinycss2==1.1.1
tomli==2.0.1
tornado==6.2
tqdm @ file:///tmp/build/80754af9/tqdm_1625563689033/work
traitlets==5.5.0
typing-extensions==4.6.3
urllib3 @ file:///tmp/build/80754af9/urllib3_1625084269274/work
us==3.1.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
werkzeug==3.0.0
widgetsnbextension==4.0.7
xlrd==2.0.1
yfinance==0.2.32
zipp==3.8.1
